html{
  background-color: DarkRed;
  border: solid;
  border-width: thick;
  border-color: white;
  color: white;
  font-family: bookman;
}
h1{
  text-align: center;
  font-size: 200%;
}
p{
  text-align: center;
  font-size: 125%;
  margin-left: 10%;
  margin-right: 10%;
}
ul {
  font-size: 125%;
}
nav{
  margin-left: 10%;
}
